@model InventoryViewModel

@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

<link href="~/css/PagedList.css" rel="stylesheet" />

<div class="row">
    <div class="col">
        <h3><span class="text-gradient d-inline"><i class="fa-solid fa-users"></i> | Envanter Yönetimi</span></h3>
    </div>
    <div class="col-auto">
        <a class="btn btn-outline-primary" asp-controller="Inventory" asp-action="AddCategory">
            <i class="fa-solid fa-list"></i> | Kategori Ekle
        </a>
        <a class="btn btn-outline-primary" asp-controller="Inventory" asp-action="AddProduct">
            <i class="fa-solid fa-boxes-stacked"></i> | Ürün Ekle
        </a>
    </div>
</div>
<hr />
<div class="row">
    @*Categories*@
    <div class="col-md-12">
        <div class="table-responsive-sm">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Kategori Adı</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model.Categories)
                    {
                        <tr>
                            <td>@category.Name</td>
                            <td>
                                <a class="text-primary" asp-controller="Inventory" asp-action="UpdateCategory" asp-route-id="@category.CategoryID">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td>
                                <a class="text-danger" asp-action="DeleteCategory" asp-controller="Inventory" asp-route-id="@category.CategoryID">
                                    <i class="fa-regular fa-trash-can"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*@Html.PagedListPager((IPagedList)Model.Categories,
        page => Url.Action("Index", new { page }),
                new PagedListRenderOptions() { DisplayLinkToFirstPage = PagedListDisplayMode.Always })*@
            
        <div class="pagination">
            @if (Model.Categories.PageCount > 0)
            {
                <p>
                    Gösterilen Kategoriler: @((Model.Categories.PageNumber - 1) * Model.Categories.PageSize + 1) -
                    @Math.Min(Model.Categories.PageNumber * Model.Categories.PageSize, Model.Categories.TotalItemCount)
                    / @Model.Categories.TotalItemCount
                </p>
            }

            @Html.PagedListPager(Model.Categories, page => Url.Action("Index", new { pageCategories = page }))
        </div>
        </div>
    </div>
    @*Products*@
   

    <div class="col-md-12">
        <div class="row mt-4" id="productList">
            @foreach (var product in Model.Products)
            {
                <div class="col-md-3 product-card" data-category="@product.CategoryID">
                    <div class="card mb-4">
                        <img src="@product.ImageFilePath" class="card-img-top" alt="" width="100%">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">@product.Name</h5>
                                <div class="badge bg-gradient-primary-to-secondary text-white mb-4"><div class="text-uppercase">@product.Category.Name</div></div>
                            </div>
                            <p class="card-text">Fiyat: ₺@product.Price</p>

                            <div class="d-flex justify-content-around mt-2">
                                <div>
                                    <a class="text-primary" asp-controller="Inventory" asp-action="UpdateProduct" asp-route-id="@product.ProductID">
                                        <i class="fa-solid fa-pen-to-square fa-xl"></i>
                                    </a>
                                </div>
                                <div>
                                    <a class="text-danger" asp-action="DeleteProduct" asp-controller="Inventory" asp-route-id="@product.ProductID">
                                        <i class="fa-regular fa-trash-can fa-xl"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="pagination">
            @*Ürünler - Sayfa @(Model.Products.PageCount < Model.Categories.PageCount ? Model.Products.PageNumber : Model.Categories.PageNumber)
        of @Model.Products.PageCount*@

            @if (Model.Products.PageCount > 0)
            {
                <p>
                    Gösterilen Ürünler: @((Model.Products.PageNumber - 1) * Model.Products.PageSize + 1) -
                    @Math.Min(Model.Products.PageNumber * Model.Products.PageSize, Model.Products.TotalItemCount)
                    / @Model.Products.TotalItemCount
                </p>
            }

            @Html.PagedListPager(Model.Products, page => Url.Action("Index", new { pageProducts = page }))

        </div>
    </div>
</div>