@model ShoppingListViewModel

<div class="row" id="rowToColContainer">
    <div class="col">
        <h3><span class="text-gradient d-inline"><i class="fa-solid fa-cart-shopping"></i> | @Model.Name</span></h3>
    </div>



    <div class="col-auto">
        <div>
            @if (Model.GoShopping == false)
            {
                <a class="btn btn-primary" id="goShoppingBtn">Alışverişe Çıkıyorum</a>
            }
            else
            {
                <a class="btn btn-success" id="shoppingDoneBtn">Alışveriş Tamamlandı</a>
            }
            <a class="btn btn-danger" asp-controller="ShoppingList" asp-action="DeleteList" asp-route-id="@Model.ShoppingListID">
                <i class="fa-regular fa-trash-can"></i>
            </a>
            <a class="btn btn-dark" asp-controller="ShoppingListItem" asp-action="List" asp-route-id="@Model.ShoppingListID">
                <i class="fa-solid fa-plus"></i>
            </a>
        </div>
    </div>
</div>
<hr />

@if (TempData["Message"] != null)
{
    <div id="alertDiv" class="alert alert-info">@TempData["Message"]</div>
    <script>
        setTimeout(function () {
            $('#alertDiv').fadeOut('slow');
        }, 2000);
    </script>
}

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Ürün Resmi</th>
                <th scope="col">Ürün Adı</th>
                <th scope="col">Miktar</th>
                <th scope="col">Açıklama</th>

                @if (Model.GoShopping == false)
                {
                    <th scope="col"></th>
                    <th scope="col"></th>
                }

                @if (Model.GoShopping == true)
                {
                    <th scope="col"></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ShoppingListItems)
            {
                <tr class="row-select">
                    <td>
                        <img src="@item.ImageFilePath" width="60" height="60" />
                    </td>
                    <td>@item.ProductName</td>
                    <td>@item.Amount</td>
                    <td>@item.Description</td>

                    @if (Model.GoShopping == false)
                    {
                        <td>
                            <a class="text-primary"
                               asp-controller="ShoppingListItem"
                               asp-action="EditShoppingListItem"
                               asp-route-shoppingListId="@Model.ShoppingListID"
                               asp-route-productId="@item.ProductId">
                                <i class="fa-solid fa-pen-to-square fa-xl"></i>
                            </a>
                        </td>

                        <td>
                            <a class="text-danger"
                               asp-controller="ShoppingListItem"
                               asp-action="DeleteShoppingListItem"
                               asp-route-shoppingListId="@Model.ShoppingListID"
                               asp-route-productId="@item.ProductId">
                                <i class="fa-regular fa-trash-can fa-xl"></i>
                            </a>
                        </td>
                    }

                    @if (Model.GoShopping == true)
                    {
                        <td>
                            <div class="form-check">
                                <input class="form-check-input item-purchased-checkbox" type="checkbox" data-shoppingListId="@Model.ShoppingListID" data-productId="@item.ProductId">
                                <label class="form-check-label">
                                    Aldım
                                </label>
                            </div>
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
    $(document).ready(function () {
            // Alışverişe Çıkıyorum
            $('#goShoppingBtn').on('click', function () {
                $.ajax({
                    url: '@Url.Action("GoShopping", "ShoppingList")', // Uygulamanızın controller ve action adını düzenleyin
                    type: 'POST',
                    data: { shoppingListID: @Model.ShoppingListID }, // Eğer listeden gelen ID değilse düzenleyin
                    success: function (response) {
                        if (response.success) {
                            alert('Alışverişe çıkıldı olarak işaretlendi.');
                            location.reload(); // Sayfayı yenileme
                        } else {
                            alert('İşlem sırasında bir hata oluştu.');
                        }
                    },
                    error: function () {
                        alert('İstek sırasında bir hata oluştu.');
                    }
                });
            });

            // Alışveriş Bitti
            $('#shoppingDoneBtn').on('click', function () {
                var selectedProductIds = [];
                $('.item-purchased-checkbox:checked').each(function () {
                    //selectedProductIds.push($(this).data('productId'));
                    var productId = $(this).attr('data-productId');
                    if (productId) {
                        selectedProductIds.push(productId);
                    }
                });

                $.ajax({
                    url: '@Url.Action("ShoppingDone", "ShoppingList")',
                    type: 'POST',
                    data: {
                        shoppingListID: @Model.ShoppingListID,
                        selectedProductIds: selectedProductIds
                    },
                    success: function (response) {
                        if (response.success) {
                            alert('Alışveriş tamamlandı.');
                            location.reload();
                        } else {
                            alert('İşlem sırasında bir hata oluştu.');
                        }
                    },
                    error: function () {
                        alert('İstek sırasında bir hata oluştu.');
                    }
                });
            });

            //// Aldım checkbox'ları değiştiğinde "UpdateItemStatus" action'ına gönder.
            //$(".item-purchased-checkbox").change(function () {
            //    var shoppingListId = $(this).data("shoppinglistid");
            //    var productId = $(this).data("productid");
            //    var isPurchased = $(this).prop("checked");

            //    $.post("/ShoppingList/UpdateItemStatus", { shoppingListId: shoppingListId, productId: productId, isPurchased: isPurchased }, function (data) {
            //        // Başarılı alert göster
            //        showAlert("Ürün durumu güncellendi.", "success");
            //    }).fail(function (error) {
            //        // Hata alert göster
            //        showAlert("Hata oluştu: " + error.responseText, "danger");
            //    });
            //});

            // Alert'leri gizleyen fonksiyon
            function showAlert(message, type) {
                var alert = $("<div class='alert alert-" + type + "' role='alert'>" + message + "</div>").appendTo("body");
                alert.fadeIn();
                setTimeout(function () {
                    alert.fadeOut(function () {
                        alert.remove();
                    });
                }, 3000);
            }

            // Aldım için row select
            $('.row-select').on('click', function () {
                var checkbox = $(this).find('.item-purchased-checkbox');
                checkbox.prop('checked', !checkbox.prop('checked'));
            });
        });
    </script>
}

